<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Content:</b>
  <%= @article.content %>
</p>

<%= render partial: 'favorites/favorites', locals: { sogoke: @article } %>


<%= form_for @comment, url: article_comments_path(@article) do |f| %>
	<%= f.text_field :content %>
	<%= hidden_field_tag :token, "article" %>
	<%= f.submit %>
<% end -%>


<% @article.comments.each do |comment| %>
  <%= comment.user.name %>: <%= comment.content %>
<% end -%>
