<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Content:</b>
  <%= @article.content %>
</p>

<%= render partial: 'favorites/favorites', locals: { sogoke: @article } %>


<%= form_for @article do |f| %>
	<%= f.fields_for :article_comment do |comment_fields| %>
	    <%= comment_fields.text_field :content %>
	<% end -%>
<% end -%>


<% @article.comments.each do |comment| %>
  <%= comment.user.name %>: <%= comment.content %>
<% end -%>
