
<p>
  <b>Name:</b>
  <%= @store.name %>
</p>

<p>
  <b>Announcement:</b>
  <%= @store.announcement %>
</p>
<%= render partial: 'favorites/favorites', locals: { sogoke: @store } %>
<p>商品：</p>
<% @store.products.each do |p| %>
	<%= link_to p.name, product_path(p) %>
<% end -%>


<%= form_for @comment, url: store_comments_path(@store) do |f| %>
	<%= f.text_field :content %>
	<%= hidden_field_tag :token, "store" %>
	<%= f.submit %>
<% end -%>


<% @store.comments.each do |comment| %>
  <%= comment.user.name %>: <%= comment.content %>
<% end -%>