<h3>主页</h3>
  <p>欢迎来到手工客！</p>

<% if current_user && current_user.still_have_invitations_left %>
  <p>您还可以邀请 <%= link_to current_user.preference.invitations_left, friends_invitations_path %>个朋友入住手工客！</p>
<% end -%>

<% if current_user %>
<%= link_to "博文", user_articles_path(current_user) %>
<%= link_to "喜欢", products_user_favorites_path(current_user) %>
<% end -%>

<p>发布碎碎念</p>
<% if current_user %>
	<%= form_for @buzz do |f| %>
		<%= f.text_field :content %>
	<% end -%>
<% end -%>

<br />
<% current_user.activities.each do |activity| %>
	<%= render "activities/#{activity.class.name.underscore}", activity: activity %>
<% end -%>