<p><%= link_to "基本设置", base_settings_path %></p>
<p><%= link_to "修改密码", edit_user_registration_path %></p>
<p><%= link_to "通知设置", notification_settings_path %></p>
<p><%= link_to "绑定帐号", binding_settings_path %></p>
<p><%= link_to "店铺设置", edit_store_path(current_store) %></p>