<h1>基础设置</h1>
<%= render 'tab' %>

<%= form_for current_user, :url => base_settings_path, :html => { :method => :put } do |f| %>
	<%= f.label "邮箱" %>
	<%= f.text_field :email %>
	<%= f.label "性别" %>
	<%= f.radio_button :gender, "male" %>男
	<%= f.radio_button :gender, "female" %>女
	<%= f.label "个人网站" %>
	<%= f.text_field :website %>
	<%= f.label "签名" %>
	<%= f.text_field :signature %>
	<%= f.label "关于我" %>
	<%= f.text_area :aboutme %>
	<%= f.submit %>
<% end -%>
