<%= form_for(current_user.preference, url: preference_path, html: { method: :put}) do |f| %>
  <% if current_user.preference.errors.any? %>
    <div id="error_explanation">
      <ul><%= sogoke_error_message(current_user.preference) %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mail_on_receiving_message %><br />
    <%= f.check_box :mail_on_receiving_message %>
  </div>
  <div class="field">
    <%= f.label :mail_on_being_followed %><br />
    <%= f.check_box :mail_on_being_followed %>
  </div>
  <div class="field">
    <%= f.label :message_from_everyone %><br />
    <%= f.check_box :message_from_everyone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
