<h2>登录</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%= f.label "用户名或邮箱" %><br />
  <%= f.text_field :login %></p>

  <p><%= f.label "密码" %><br />
  <%= f.password_field :password %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> <%= f.label "下次自动登录" %></p>
  <% end -%>

  <p><%= f.submit "登录" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>