<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<%= form_for @comment, url: post_comments_path(@post) do |f| %>
	<%= f.text_field :content %>
	<%= hidden_field_tag :token, "post" %>
	<%= f.submit %>
<% end -%>


<% @post.comments.each do |comment| %>
  <%= comment.user.name %>: <%= comment.content %>
<% end -%>

