<%= form_for(@product, :validate => true) do |f| %>
  <% if @product.errors.any? %>
	<div>
      <ul><%= sogoke_error_message(@product) %></ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
	<%= f.label :tags %><br />
	<%= f.text_field :tags %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :sales_link %><br />
    <%= f.text_field :sales_link %>
  </div>
  <div class="field">
    <%= f.label :sales_description %><br />
    <%= f.text_area :sales_description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
