
<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Sales link:</b>
  <%= @product.sales_link %>
</p>

<p>
  <b>Sales description:</b>
  <%= @product.sales_description %>
</p>

<%= render partial: 'favorites/favorites', locals: { sogoke: @product } %>

<%= form_for @comment, url: product_comments_path(@product) do |f| %>
	<%= f.text_field :content %>
	<%= hidden_field_tag :token, "product" %>
	<%= f.submit %>
<% end -%>

<% @product.comments.each do |comment| %>
  <%= comment.user.name %>: <%= comment.content %>
<% end -%>

<%= render 'shared/share' %>