
<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Sales link:</b>
  <%= @product.sales_link %>
</p>

<p>
  <b>Sales description:</b>
  <%= @product.sales_description %>
</p>

<%= render partial: 'favorites/favorites', locals: { sogoke: @product } %>
